# VARIABLE=value #comment
DOCKER_HOME=/home/username/docker
TZ=Asia/Shanghai
DOCKER_MY_NETWORK=npm_default
DATABASE_URL='postgresql://docmost:1234@postgres:5432/docmost?schema=public'
APP_URL='https://docmost.youdomain.com'
APP_SECRET='1234'